.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(212, 45%, 89%)
}

.subscription-panel {
    display: grid;
    align-content: center;
    grid-auto-columns: 300px;
    grid-template-columns: 1fr 1fr 1fr 1frs;
}

.top-panel {
    grid-area: 1 / 2 / span 1 / span 2;
    text-align: center;

}

.bottom-left-panel {
    margin: auto;
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: center;
}

.bottom-right-panel {
    margin: auto;
    grid-area: 2 / 3 / span 1 / span 1;
    text-align: center;
}