@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
.attribution {
  align-items: end;
  text-align: center;
  color: aliceblue;
  margin-top: 500px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 376px) {
  body {
    background-color: hsl(233, 47%, 7%);

  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: auto;
    width: 1080px;
  }
  .header {
    font-size: 36px;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
  }
  p {
    font-size: 16px;
    color: hsla(0, 0%, 100%, 0.75);
    padding-left: 50px;
    padding-right: 100px;
  }
  .stats {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 120px;
    padding-top: 50px;
  }
  #container-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 446px;
    font-family: "Inter", sans-serif;
    border-radius: 5px 0px 0px 5px;
    background-color: hsl(244, 38%, 16%);
  }
  #container-right {
    width: 50%;
    height: 446px;
    border-radius: 0 5px 5px 0;
    background-color: hsl(277, 89%, 45%);
  }
  #container-right img {
    width: 100%;
    border-radius: 0 5px 5px 0;
    opacity: 0.6;
  }
  h4 {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    color: white;
    margin: auto;
    font-size: 24px;
  }
  .stat-name {
    font-family: "Lexend Deca", sans-serif;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
  }
}
@media only screen and (max-width: 375px) {
  body {
    background-color: hsl(233, 47%, 7%);
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    margin: 25px;
  }
  .header {
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 30px;
  }
  p {
    font-size: 12px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    line-height: 20px;
    color: hsla(0, 0%, 100%, 0.75);
  }
  .stats {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    font-size: 16px;
    padding-bottom: 30px;
  }
  #container-left {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0px 0px 5px 5px;
  }
  #container-right {
    display: flex;
    border-radius: 5px 5px 0px 0px;
    background-color: hsl(277, 89%, 45%);
  }
  #container-right img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    opacity: 0.6;
  }
  h4 {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    color: white;
    margin: auto;
    padding-top: 20px;
    font-size: 20px;
  }
  .stat-name {
    font-family: "Lexend Deca", sans-serif;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 11px;
  }
}/*# sourceMappingURL=style.css.map */